/* style.module.css */

.product_slider {
    display: flex;
    overflow-x: hidden;
    padding: 0 30px;
    position: relative;
  }
  
  .product_card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin-right: 35px;
  }
  
  .product_card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  
  .product_card h3 {
    margin-bottom: 8px;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .product_card p {
    margin-bottom: 10px;
  }
  
  .nextArrow,
  .prevArrow {
    width: 300px;
    height: 300px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  
  .nextArrow {
    right: 0px;
  }
  
  .prevArrow {
    left: 0px;
  }
  
  /* Add additional styles as needed */
  .product_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-bottom: 50px;
    overflow-x: hidden;
    padding: 0 30px;
    position: relative;
}
.product_card p{
    color: #999;

}

.product_card .line_one img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.product_card .line_two{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 1% 10%;
}
.product_card .line_two .price{
    color: #1c69d4 !important;
    font-size: 1.2rem;
    font-weight: bold;
    flex-direction: row;
}

.product_card .line_three p{
    color: #1c69d4 !important;
    flex-direction: row;
}

.product_card .line_four{
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding: 2% 8%;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.product_card .line_four p{
    color: #3484f4 !important;
    flex-direction: row;
}

.product_card .line_five{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2% 8%;
    flex-direction: row;
}
