.models{
    font-family: "BMWTYPENEXT-LIGHT";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.models .modelsSectionTwo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.models .modelsSectionTwo .search{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.models .modelsSectionTwo .product{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.models .navbar {
    position: absolute;
    top: 1%;
    width: 100%;
    z-index: 10;
}

.models .banner {
    position: relative;
    width: 100%;
    height: 100vh;
}


.models .footer{
    position: relative;
    width: 100%;
}


