.models {
    font-family: "BMWTYPENEXT-LIGHT";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.models .modelsSectionTwo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.models .modelsSectionTwo .search {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.models .modelsSectionTwo .product {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.models .navbar {
    position: absolute;
    top: 1%;
    width: 100%;
    z-index: 10;
}

.models .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.models .footer {
    position: relative;
    width: 100%;
}
