/* style.module.css */

.product_slider {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 30px;
    border-color: #fff ;
  }
  
  
  
  .nextArrow,
  .prevArrow {
    width: 300px;
    height: 300px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  
  .nextArrow {
    right: 0px;
  }
  
  .prevArrow {
    left: 0px;
  }
  
  /* Add additional styles as needed */

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    padding: 0 30px;
    position: relative;
    border-color: #fff ;
}

.Container .line_one{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Container .line_one .car_img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:fill;
    width: 75%;
}
.Container .line_one .backImg{
    background-color: #e6e6e6;
    width: 100%;
    height: 100px;
    z-index: -1;
    opacity: 70%;
    position: absolute;
    bottom: 0;
}

.Container .line_two{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding-top: 10px;
}
.Container .line_two .price{
    color: #1c69d4;
    font-size: .9rem;
    font-weight: bold;
    padding-top: 8px;
}
.Container .line_two .name{
    font-size: 1rem;
    font-weight: bold;
}

.Container .line_three{
    color: #1c69d4;
    font-size: 0.8rem;
    padding-top: 10px;
}

.Container .line_four{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 10px;
    padding-top: 10px;
    padding-inline: 10px;
}
.Container .line_four .model, 
.Container .line_four .km,
.Container .line_four .color, 
.Container .line_four .kind, 
.Container .line_four .fender {
    min-width: 20%;
    padding-inline: 0px;
}

.Container .line_five{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #37393b;
    padding-top: 10px;
    padding-inline: 10px;
    font-size: .65rem;
}

.Container .cardBody{
    background-color:#e6e6e6;
    margin: 1px;
}

