.CenterMainImgs{
    display: flex;
    justify-content:space-around;
    text-align: center;
    flex-direction: column;
    padding: 5%;
    row-gap: 2.5rem;
}

.CenterMainFirstImg {
    background-image: url("/public/img/firstCar.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:flex-start;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 60%;
}


.CenterMainSecondImg {
    background-image: url("/public/img/secondCar.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content:flex-start;
    padding-top: 3%;
    padding-left: 60%;
    padding-right: 2.5%;
}

.CenterMainImgs .CenterMainSecondImg a {
    display: flex;
    align-items: flex-start;
    padding-right: 55%;
}
.CenterMainImgs .CenterMainSecondImg h1 {
    display: flex;
    padding-right: 1%;
}

.CenterMainThirdImg {
    background-image: url("/public/img/thirdcar.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:flex-start;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 55%;
}

.CenterMainImgs h1 {
    color: aliceblue;
    font-size: 38px;
    font-weight: 300;
}

.CenterMainImgs p {
    color: aliceblue;
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 20px;
}

.CenterMainImgs li {
    color: aliceblue;
    font-size: 15px;
    font-weight: 200;
}

.CenterMainImgs ul {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:flex-start;
    padding-right: 35%;
}

.CenterMainImgs a {
    color: aliceblue;
    padding: 20px;
}