.navHome{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #fff;

}

.navHome .navLinkHome {
    display: flex;

}
.navHome .linkHome {
    color: #fff;
    font-weight: bold;
}
.navHome .linkHome:hover {
    border-bottom: 0.25rem solid #1c69d4;
}
.icons {
    padding: 10px;
    font-weight: bold;
}

.logo{
    padding-left: 20px;
}

.navHome .navIconsHome {
    display: flex;
    justify-content: end;
    color: #fff;
    margin-bottom: 2rem;
}
.navHome .icons:hover {
    color: #1c69d4;
}

.row {
    border-bottom: 0.12rem solid #fff;
    margin-bottom: 1.5rem;
}
