.slides{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1% 5%;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: auto;
    margin-bottom: 50px;
    overflow-x: hidden;
    padding: 0 30px;
    position: relative;
}
.Container p{
    color: #999;
}

.Container .line_one img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.Container .line_two{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1% 10%;
    font-weight: bold;
}
.Container .line_two .price{
    color: #1c69d4 !important;
    font-size: 1.5rem;
    font-weight: 700;
}

.Container .line_three p{
    color: #1c69d4 !important;
}

.Container .line_four{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1% 10%;
    
}
.Container .line_four p{
    color: #3484f4 !important;
}

.Container .line_five{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1% 10%;
}