.TopMainElements .ShowSlidesButton {
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-right: 5%;
    padding-bottom: 30px;
    text-decoration: none;
}
.TopMainElements .ShowSlidesButton button{
    text-decoration: none;
    border: 1px solid #fff;
}

.TopMainElements .ShowSlidesButton button{
    width: 50px;
    height: 50px;
}

.TopMainElements .ShowSlidesButton .slidesRow svg{
    padding: 2px;
    width: auto;
    max-width: 40px;
}

.TopMainElements .ShowSlidesButton .slidesGrid svg{
    padding: 5px;
    width: auto;
    max-width: 40px;
}

.TopMainElements .ShowSlidesButton button svg g rect:hover{

    fill: #fff;
}

.ShowSlidesButton .Slides{
    display: flex;
    justify-content: center;
}


.TopMainElements .Slides {
    max-width: 95%;
    width: auto;
    padding-left: 5%;

}
