.Containers{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #bbb;
width: 100%;
}

.Containers .Icons{
    display: flex;
    justify-content:end;
    width: 100%;
    padding: 20px 50px;
    
}

.Containers .Icons a{
    display: flex;
    padding: 1%;

}

.Containers .txt {
    display: flex;
    justify-content:start;
    align-items:start;
    flex-direction: column;
    width: 90%;
    border-top: 2px solid #999;
    padding: 20px 20px;
    margin: 20px 50px;
}

.Containers .rightsDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
    background-color: #fff;
}
.Containers .rightsDiv p{
    padding-left: 20%;
    width: 100%;
}
.Containers .rightsLinks{
    display: flex;
    align-items:flex-start;
    flex-direction: row;
    width: 50%;
    color: #bbb;
    
    padding-left: 15%;
}
.Containers .rightsLinks a{
    padding-left: 3%;
    text-decoration:none;
}