* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "BMWTYPENEXT-LIGHT", sans-serif;
    font-weight: 300;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

html {
    scroll-behavior: smooth;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

body {
    background-repeat: no-repeat;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}


@font-face {
    font-family: "BMWTYPENEXT-LIGHT";
    src: url("../public/fonts/BMWTYPENEXT-LIGHT.OTF") format("opentype");
}
