* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "BMWTYPENEXT-LIGHT", sans-serif;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
}

.py-home {
    padding: 0 5% !important;
}

@font-face {
    font-family: "BMWTYPENEXT-LIGHT";
    src: url("../public/fonts/BMWTYPENEXT-LIGHT.OTF") format("opentype");
}
