.con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(100, 99, 99, 0.7);
    height: 100px;
    padding-inline: 70px;
    object-fit: contain;
}
.con .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 14px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.con .row{
    border-bottom: 0px;
    padding-inline: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.con .search{
    height: 45px;
    width: 250px;
    font-size: 14px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
