.navBar {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding-top: 2%;
}

.navBar .navDetails {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-right: 25px;
    border-bottom: 1.5px solid #fff;
    padding: 0px;
}

.navBar .navDetails .searchBar {
    width: 500px;
    height: 40px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 1.5px solid #ffffffb6;
    position: absolute;
    top: 30px;
    left: 400px;
    -o-transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.navBar .navDetails .searchBar .search {
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
    padding: 3px;
    padding-left: 10px;
    padding-bottom: 0px;
    cursor: text;
    width: 100%;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.navbar .navDetails .searchBar .search::target-text {
    background-color: yellow;
}

.navBar .navDetails .searchBar .search::placeholder {
    color: #ffffffb6;
}

.navBar .navDetails .navLinks {
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
    margin-top: 10px;
    margin-left: 15px;
    padding-bottom: 0px;
}

.navBar .navDetails .navLinks .link {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}
.navBar .navDetails .navLinks .link:hover {
    border-bottom: 0.2rem solid #1c69d4;
    color: #1c69d4;
}

.navBar .navDetails .navIcons {
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
    padding-right: 15px;
    padding-bottom: 0px;
}

.navBar .navDetails .navIcons .icons {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding-bottom: 10px;
    cursor: pointer;
}

.navBar .navDetails .navIcons .icons:hover {
    color: #1c69d4;
}
